
    body{
     
        height: 100vh;
        position: relative;
        background-image: radial-gradient(circle, #dbd2cf, #dacaca, #d5c3ca, #ccbdcd, #bbb9d0, #b5bcd3, #afbfd5, #aac2d6, #b4cbdc, #bed3e1, #c9dce7, #d4e4ed);
      
        color: white;
        
    font-family: 'Times New Roman', serif;
}
.backBtn{
  color: black;  
  margin-left: 26%;
}

.maa{
    width: 420px;
    height: 600px;
    background:#d8e5ec;
    top: 60%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}

h1 {
    margin-top: 1em;
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #9DB6CF;
    text-shadow: 2px 2px 4px #fff;
}
.maa p {
    margin-bottom: 5px;
    margin-left: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
}
.maa input {
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 12px;
    font-size: 16px;
    border-radius: 8px;                                
}
.maa button{
    margin-left: 30%;
    margin-top: 2px;
    width: 40%;
    height: 50px;
    text-transform: capitalize;
    font-size: 18px;
    color: black;
    background: #fff;
    border-radius: 20px
    
}

button:hover {
    background: rgb(98, 122, 124,);
    color: black;
    
    font-size: 20px;
    
    }
    .ddl {
  border-color: #fafbfc;
  background-color: gainsboro;
  width: 100px;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;

}

</style>
